@font-face {
    font-family: 'Acherus Grotesque';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Acherus Grotesque Regular'), url('acherus_grotesque_-_regular.woff') format('woff');
}


@font-face {
    font-family: 'Acherus Grotesque';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: local('Acherus Grotesque Regular Italic'), url('acherus_grotesque_-_regular_italic.woff') format('woff');
}
