@import "./acherus-grotesque/acherusGrotesque.scss";
@import "./adobe-caslon-pro/adobeCaslonPro.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    html,body{
        scroll-behavior: smooth;
    }
}

/* Only Css common to whole project */

body.scroll-overflow,
body.scroll-overflow .navigator {
    overflow: hidden;
}

@media only screen and (min-width: 991px) {

    body.scroll-overflow,
    body.scroll-overflow .navigator {
        width: calc(100vw - 17px);
    }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color  : black;
    opacity: 0.35;
}

.swiper-pagination-bullet:not(:last-child) {
    margin-right: 0.75rem !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
}

.measurementBlock1__sizes{
    background-image: url('https://saltattire.com/assets/images/illustration.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* For Mobiles */
@media only screen and (max-width: 450px) {}