@import "./acherus-grotesque/acherusGrotesque.css";
@import "./adobe-caslon-pro/adobeCaslonPro.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Only Css common to whole project */

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: black;
    opacity: 0.35;
}

.swiper-pagination-bullet:not(:last-child) {
    margin-right: 0.75rem !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
}

/* For Mpbiles */
@media only screen and (max-width: 450px) {

}
