:root {
    --black: #000000;
    --black-two: #333231;
    --white-two: #f0eae6;
    --faded-blue: #8087c9;
    --greyish-brown: #595756;
    --greyish: #b3aeab;
    --beige: #faf4f0;
    --warm-grey: #8c8987;
    --pinkish-tan: #df9796;
    --beige-two: #eddfd3;
    --pure-white: #ffffff;
    --black-three: #302f2e;
    --black-3: rgba(0, 0, 0, 0.03);
    --dark-coral: #d35c56;
    --beige-three: #f7f1ed;
    --purplish-grey: #656066;
    --warm-grey-two: #8f8b89;
    --light-grey: #dbd5d3;
    --beige-four: #faf3f0;
    --light-grey-two: #d9d4d0;
    --off-white: #e8e2df;
    --greyish-brown-two: #5a5958;
    --greyish-brown-three: #665e52;
    --pinkish-grey: #ccc1b1;
    --dirty-purple: #585157;
    --pastel-red: #d95c5c;
    --purplish-grey-two: #767176;
    --purplish-grey-three: #58535a;
    --charcoal-grey: #47414a;
    --turquoise-blue: #00babc;
    --darkish-green: #2a8659;
    --medium-purple: #8247a7;
    --denim: #3c738d;
    --light-grey-three: #e3deda;
    --beige-five: #f5efea;
    --light-grey-blue: #96c7d0;
    --very-light-pink: #fffaf7;
    --beige-six: #e5d5c5;
    --white: #efeae6;
    --beige-seven: #e0b9a8;
    --perrywinkle: #89bce8;
    --pale-purple: #bda8e0;
    --pig-pink: #e3799e;
    --pale-teal: #93c79e;
    --lightblue: #9abff0;
    --light-grey-blue-two: #9e9ed1;
    --pale-salmon: #ffb098;
    --greyish-pink: #cd949a;
    --light-grey-four: #ede5e1;
    --white-three: #f2eae6;
    --very-light-brown: #d8ad9a;
    --white-four: #f6f1ef;
    --pinkish-grey-two: #baa89e;
    --light-teal: #9ae7d9;
    --soft-pink: #feafbc;
    --pinkish-tan-two: #db8b7d;
    --beige-eight: #f3e9e3;
    --greyish-brown-four: #4a4847;
    --warm-grey-three: #999593;
    --medium-pink: #ea4186;
    --purply: #763f9f;
    --mango: #ffa126;
    --green-blue: #00b598;
    --beige-nine: #f7f2ed;
    --brownish: #997756;
    --dark-beige: #ad8761;
    --sandy-brown: #c69565;
    --pig-pink-two: #e07e8e;
    --pinkish-tan-three: #e59c85;
    --aqua-blue: #00bae4;
    --seafoam-blue: #80d9c8;
    --periwinkle-blue: #95a1ff;
    --pig-pink-three: #f2a2ad;
    --dull-brown: #806347;
    --algae: #4eb16d;
    --very-light-pink-two: #ffefe5;
    --pinkish-tan-four: #e69c85;
    --light-khaki: #faede3;
    --charcoal: #3d3d3c;
    --deep-lavender: #8a5faa;
    --pale-purple-two: #c19bdf;
    --warm-grey-four: #959595;
}

